* {
    margin: 0;
    padding: 0;
}

.techStack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div {
        margin: 5px;
        width: fit-content;
        height: fit-content;
        padding: 10px;
        /* box-shadow: 0 0 10px var(--tertiary-color); */
        border-radius: 20px;
    }

    svg,
    img {
        width: 5vw;
    }
}

@media screen and (min-width:541px) and (max-width: 900px) {}

@media screen and (max-width: 540px) {
    .techStack {
        div {
            padding: 0;
        }

        svg {
            width: 10vw;
            padding: 0;
        }
    }
}